<div
  class="landing position-relative d-flex justify-content-center align-items-end align-items-md-center"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="landing__heading">
          <h1 class="text-white text-capitalize pb-3">
            Hi There!
            <span class="landing__wave" role="img" aria-labelledby="wave"
              >👋🏻</span
            >
          </h1>
          <h2 class="h1 pb-3 text-white">
            I'M<strong class="heading-color text-uppercase">
              marwan abubakr</strong
            >
          </h2>
          <ngx-typed-js
            class="landing__type text-capitalize heading-color"
            [strings]="[
              'Software Engineer',
              'front End Angular +2',
              'Freelancer',
              'Open Source Contributor'
            ]"
            [loop]="true"
            [showCursor]="true"
            [typeSpeed]="60"
            [backDelay]="1000"
          >
            <h2><span class="typing h1"></span></h2>
          </ngx-typed-js>
        </div>
      </div>
      <div class="col-md-6">
        <figure class="mb-0">
          <img class="w-100" src="./assets/home-main.svg" alt="" />
        </figure>
      </div>
    </div>
  </div>
</div>
