<div
  class="landing position-relative d-flex justify-content-center align-items-center"
>
  <div class="container">
    <div class="innner">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="landing__heading">
            <h1 class="text-white text-capitalize pb-3">
              Hi There!
              <span class="landing__wave" role="img" aria-labelledby="wave"
                >👋🏻</span
              >
            </h1>
            <h2 class="h1 pb-3 text-white">
              I'M<strong class="heading-color text-uppercase">
                marwan abubakr</strong
              >
            </h2>
            <!-- <span
              class="landing__type text-capitalize heading-color"
              typingAnimator
              [showCursor]="true"
              [typeSpeed]="120"
              [startDelay]="100"
              [sentences]="[
                'Software Engineer',
                'front End Angular +2',
                'Freelancer',
                'Open Source Contributor'
              ]"
            >
            </span> -->
          </div>
        </div>
        <div class="col-md-6">
          <figure>
            <img
              class="w-100"
              src="../../../../../../assets/home-main.svg"
              alt=""
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
  <app-canvase></app-canvase>
</div>
