@import "variables";
@import "mainThemes";
@import "placeholders";

.resume {
  pdf-viewer {
    @media (max-width: 400px) {
      min-height: 55vh;
    }
    @media (min-width: 401px) and (max-width: 576px) {
      min-height: 65vh;
    }
    @media (min-width: 577px) and (max-width: 767px) {
      min-height: 70vh;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      min-height: 80vh;
    }

    @media (min-width: 992px) and (max-width: 1200px) {
      min-height: 105vh;
    }

    @media (min-width: 1200px) {
      min-height: 160vh;
    }
  }
  &__bulets span {
    /* Layout */
    display: inline-block;

    /* Box Model */
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: {
      left: 5px;
      right: 5px;
    }

    /* Color */
    background-color: $secondary-color;

    /* Other */
    gap: 10px;
  }
  & .activeItem {
    /* Color */
    background-color: $border-color;
    transform: scale(1.2);
  }
}
