@import "variables";
@import "mainThemes";
@import "placeholders";

.resume {
  &__pdf pdf-viewer {
    /* Box Model */
    width: 100%;
    /* Here ther was a abug and use obser brakpoints      ❓❓❓❓❓❓❓❓ */
    min-height: 160vh;
  }
  &__bulets span {
    /* Layout */
    display: inline-block;

    /* Box Model */
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: {
      left: 5px;
      right: 5px;
    }

    /* Color */
    background-color: $secondary-color;

    /* Other */
    gap: 10px;
  }
  & .activeItem {
    /* Color */
    background-color: $border-color;
    transform: scale(1.2);
  }
}
