<section class="resume position-relative">
  <div class="container text-center">
    <a
      download="Marwan Abubakr FrontEnd Angular.pdf"
      class="btn main__btn text-capitalize text-white mb-5"
      [href]="pdfSrc"
    >
      <i class="fa-solid fa-download px-1"></i>
      <span> {{ 'resume.download' | translate }}</span>
    </a>
    <div class="resume__pdf">
      <pdf-viewer
        class="mb-5"
        [src]="pdfSrc"
        [render-text]="true"
        [(page)]="currentPage"
        [external-link-target]="'blank'"
        [render-text]="true"
        [rotation]="90"
        [original-size]="false"
        [fit-to-page]="true"
        [show-all]="false"
        [autoresize]="true"
      ></pdf-viewer>

      <div #bullets class="resume__bulets">
        <span
          [ngClass]="{ activeItem: page1 }"
          (click)="pdfPagination(1, 'page1')"
          class="mb-5 activeItem"
        ></span>
      </div>
      <a
        class="btn main__btn text-capitalize text-white mb-5"
        [href]="pdfSrc"
        target="_blank"
      >
        <i class="fa-solid fa-print px-1"></i>
        <span>{{ 'resume.print' | translate }}</span>
      </a>
    </div>
  </div>
  <app-canvase></app-canvase>
</section>
