@import "variables";
@import "mainThemes";
@import "placeholders";

.resume {
  pdf-viewer {
    width: 100%;
    min-height: 140vh;
    @media (max-width: 576px) {
      min-height: 60vh;
    }
    @media (min-width: 577px) {
      min-height: 70vh;
    }
    @media (min-width: 768px) {
      min-height: 85vh;
    }
    @media (min-width: 922px) {
      min-height: 110vh;
    }
    @media (min-width: 1200px) {
      min-height: 140vh;
    }
  }
  &__bulets span {
    /* Layout */
    display: inline-block;

    /* Box Model */
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: {
      left: 5px;
      right: 5px;
    }

    /* Color */
    background-color: $secondary-color;

    /* Other */
    gap: 10px;
  }
  & .activeItem {
    /* Color */
    background-color: $border-color;
    transform: scale(1.2);
  }
}
