<section class="about position-relative">
  <div class="container">
    <div class="row pb-5">
      <div class="col-md-7">
        <div class="mb-5">
          <app-maintitle [popular]="'I\'M'">
            <span class="before text-capitalize"> Know Who </span>
          </app-maintitle>
        </div>

        <blockquote class="text-white">
          <p class="mb-4 main-fonts">
            Hi Everyone, I am
            <span class="popular__main__color">Marwan Abubakr</span> from
            <span class="popular__main__color">Alexandria, Egypt.<br /></span>
            i am currently employed as a software developer at VC Software
            Agency.<br />
            I have completed an internship at Route Academy as Front End
            Developer (Angular)
            <br />
            Now I'm completing an internship at Root Academy as Back End
            Developer (ASP.NET)
          </p>
          <p class="mb-4 main-fonts">
            Apart from coding, some other activities that I love to do!
          </p>
        </blockquote>
        <div class="about__activities text-white main-fonts">
          <div class="d-flex align-items-center gap-2">
            <i class="fa-solid fa-hand-point-right"></i>
            <span> Playing chess </span>
          </div>
          <div class="d-flex align-items-center gap-2">
            <i class="fa-solid fa-hand-point-right"></i>
            <span> Reading books and novels </span>
          </div>
          <div class="d-flex align-items-center gap-2">
            <i class="fa-solid fa-hand-point-right"></i>
            <span> Travelling </span>
          </div>
        </div>
        <p class="text-center about__footer main-fonts">
          "Strive to build things that make a difference!"
        </p>
        <p class="about__footer text-center main-fonts">Marwan</p>
      </div>
      <div class="col-md-5">
        <figure>
          <img
            src="../../../../assets/about.png"
            class="w-100"
            alt="about-image"
          />
        </figure>
      </div>
    </div>
    <app-skills></app-skills>

    <app-tool></app-tool>

    <app-days-code></app-days-code>
  </div>
  <app-canvas></app-canvas>
</section>
