<section class="contact">
  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-8">
        <app-maintitle [popular]="'contact.introduce' | translate">
          <span class="before text-capitalize">
            {{ 'contact.letMe' | translate }}
          </span>
          <span class="after text-capitalize">
            {{ 'contact.myself' | translate }}
          </span>
        </app-maintitle>

        <div class="contact__info py-5">
          <p class="mb-5 text-white">
            {{ 'contact.info.loveProgramming' | translate }}
          </p>
          <p class="mb-5 text-white">
            {{ 'contact.info.fluentIn' | translate }}
          </p>
          <p class="mb-5 text-white">
            {{ 'contact.info.paragraph.text01' | translate }}

            <span class="popular__main__color"> JavaScript </span>
            <span class="fw-bolder"> ,</span>
            <span class="popular__main__color"> TypeScript </span>
            <span class="fw-bolder"> ,</span>
            <span class="popular__main__color"> #C</span>

            {{ 'contact.info.paragraph.text02' | translate }}

            <span class="popular__main__color"> ASP.NET</span>

            {{ 'contact.info.paragraph.text03' | translate }}

            <span class="popular__main__color"> Angular (17 & 18).</span>
          </p>
          <p class="mb-5 text-white">
            {{ 'contact.info.interests' | translate }}

            <span class="popular__main__color">
              {{ 'contact.info.webTechnologies' | translate }}
            </span>
          </p>

          <p class="mb-5 text-white">
            {{ 'contact.info.whatIdo.now' | translate }}
            <span class="popular__main__color"> Angular</span>
            <span class="fw-bolder"> ,</span>
            <span class="popular__main__color"> ASP.NET Core </span>
            {{ 'contact.info.whatIdo.improveWeb' | translate }}
          </p>
          <p class="mb-5 text-white">
            {{ 'contact.info.whatIdo.philosophy' | translate }}

            <span class="popular__main__color">SOLID</span>
            <span class="fw-bolder"> ,</span>
            <span class="popular__main__color">OOP</span>
            {{ 'contact.info.whatIdo.community' | translate }}
          </p>
        </div>
      </div>

      <div class="col-lg-4 mb-5">
        <div class="contact__reflection" role="button">
          <a
            *ngFor="let item of reflection"
            class="reflection-grid-cell reflection-grid-cell-{{ item + 1 }}"
          ></a>
          <figure class="w-75 mx-auto ms-md-a reflection-content">
            <img
              class="w-100 img-thumbnail rounded-5"
              src="./assets/main-images/marwan-abubakr.JPG"
              alt="marwan abubakr"
            />
          </figure>
        </div>
      </div>
    </div>
    <div class="contact__getme text-center">
      <h2 class="h1 text-white mb-3">
        {{ 'contact.findMeOn' | translate }}
      </h2>
      <p class="mb-3 text-white fw-medium">
        {{ 'contact.feelFree' | translate }}

        <span class="popular__main__color">
          {{ 'contact.connect' | translate }}
        </span>
        {{ 'contact.withMe' | translate }}
      </p>
      <div class="icons d-flex justify-content-center align-items-center gap-4">
        <span class="bg-white d-flex align-items-center justify-content-center">
          <a
            href="https://www.facebook.com/profile.php?id=100093257703015"
            target="_blank"
          >
            <i class="fa-brands fa-facebook"></i>
          </a>
        </span>

        <span class="bg-white d-flex align-items-center justify-content-center">
          <a
            href="https://www.linkedin.com/in/marwan-abubakr-2b504528a"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin"> </i>
          </a>
        </span>

        <span class="bg-white d-flex align-items-center justify-content-center">
          <a href="https://marobakr.com" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
</section>
