.main__btn {
  /* Layout */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  /* Box Modle */
  width: fit-content;
  padding: 8px 16px;
  line-height: 1.5;

  /* Color */
  color: white;
  background-color: #623686;

  /* Other */
  transition: $main-animation;

  &:hover {
    /* Color */
    background-color: #6d20c5d7;
  }
}
