<footer class="py-4">
  <div class="container">
    <div
      class="innner text-white d-flex justify-content-center justify-content-lg-between align-items-center flex-wrap gap-4"
    >
      <p class="mb-0">Developed by Marwan Abubakr</p>
      <p class="mb-0 px-5">Copyright &copy; {{ cuurentData | date }}</p>
      <div
        class="icons px-5 d-flex justify-content-center align-items-center gap-4"
      >
        <span class="d-flex align-items-center justify-content-center">
          <a
            href="https://www.facebook.com/profile.php?id=100093257703015"
            target="_blank"
          >
            <i class="fa-brands fa-facebook text-white"></i>
          </a>
        </span>

        <span class="d-flex align-items-center justify-content-center">
          <a
            href="https://www.linkedin.com/in/marwan-abubakr-2b504528a"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin text-white"> </i>
          </a>
        </span>

        <span class="d-flex align-items-center justify-content-center">
          <a href="https://marobakr.com" target="_blank">
            <i class="fa-brands fa-github text-white"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
</footer>
