@import 'mixin';

$primary-color: #171126;
$alternate-color: #613182;
$border-color: #623686;
$secondary-color: #c95bf5;
$popular-color: #c770f0;
$main-animation: all 0.5s;
$main-padding: 100px;
$section-background-color: #0f0b18;
$scale-animation: scale(1.02);
$main-font: 20px;
$main-weight: 500;
$direction: ltr;
